@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;800&family=Roboto+Mono:wght@200;400&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.mobile{
    display: none;
}

.mobile-menu{
    display: none;
}

.mobile-navbar{
    display: none;
}

.navbar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.nav-second a{
    margin-left: 20px;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: medium;
    font-weight: 700;
}

.nav-second a:hover{
    color: hsl(35, 77%, 62%);
}

.g-container{
    display: grid;
    grid-template-areas: "image image sidebar"
                          "desc desc sidebar";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height: auto;
    margin: auto;
}

.web-3{
    grid-area: image;
}

.desc{
    grid-area: desc;
}

.sb{
    grid-area: sidebar;
}

.desc{
    width: 650px;
    display: flex;
    flex-direction: row;
}

.desc-heading{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

p{
    font-size: 15px;
}

.read{
    background-color: hsl(240, 100%, 5%);
    border: none;
    padding: 15px 25px;
    color: hsl(36, 100%, 99%);
    cursor: pointer;  
    font-weight: 700;
}

.read:hover{
    background-color: hsl(5, 85%, 63%);
}

.sb{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    height: 350px;
    padding: 25px;
}

.sb-dv-1, .sb-dv-2{
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.sb h3:hover, .sb h5:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.bc-ds h5:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.bc-1{
    width: 300px;
    display: flex;
    margin-right: 60px;
}
.bc-2{
    width: 300px;
    display: flex;
    margin-right: 60px;
}
.bc-3{
    width: 300px;
    display: flex;
}

.bc-ds{
    margin-left: 25px;
    margin-top: -26px;
}


.below-content{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: -75px;
}

.bc-ds h1{
    color: hsl(236, 13%, 42%);
}

.open-menu{
    display: none;
}


@media screen and (max-width: 480px){

    .web-3{
        display: none;
    }

    .mobile{
        display: block;
    }

    .navbar{
        padding: 15px;
    }
    .nav-second{
        display: none;
    }

    .mobile-navbar{
        display: block;
    }

    .g-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        
    }

    .desc{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .sb{
        width: 80%;
        margin-top: 30px;
    }

    .bc-1{
        width: 80%;
        display: flex;
    }

    .bc-2{
        width: 80%;
        display: flex;
    }

    .bc-3{
        width: 80%;
        display: flex;
    }

    .below-content{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .close{
        position: absolute;
        left: 80%;
    }

    .closed-menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: hsl(36, 100%, 99%);
        display: flex;
        flex-direction: column;
        left: -500px;
        top: 0;
        transition: left 1s ease-in-out;
    }
    .opened-menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: hsl(36, 100%, 99%);
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        transition: left 1s ease-in-out;
        margin-left: 60px;
    }

    .menu-items{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .menu-items a {
        text-decoration: none;
        color: hsl(240, 100%, 5%);
        margin-top: 25px;
        position: relative;
        width: max-content;
        font-weight: 900;
    }

    .menu-items a:after{
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        background-color: black;
        left: 0;
        top: 25px;
        transition: 0.5s;
    } 

    .menu-items a:hover:after{
        width: 100%;
    }
}